body {
  margin: 0;
  background: url('/imgs/wall.jpg') center center;
  background-size: contain;
}

.red {
  color: red;
}

.green {
  color: green;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}