@import 'mixins';

.main-wrapper {
  @include flex-container(row, center, center);
  margin: auto;
  height: 100vh;
  width: 1093px;
  max-width: 100vmin;
}

.desk {
  background: url(/imgs/desk.jpg) no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 0;
  padding-top: 77%;
  position: relative;

  &__in {
    @include flex-container(row, center, center);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 3vmin;
  }

  &__top {
    position: absolute;
    @include flex-container(row, flex-start, center);
    top: 0;
    left: 5vmin;
    right: 5vmin;
    padding-top: 5vmin;

    .wrapper {
      width: 33%;
      text-align: center;
    }
  }
}

.start-btn {
  cursor: pointer;
  font-size: 8vmin;
  line-height: 0.94;
  letter-spacing: -1.4px;
  color: #120a0a;
  line-height: 8vmin;
  padding: 0 4vmin;
  border-left: 3px dashed #fefefe;
  border-right: 3px dashed #fefefe;
  flex-grow: 0;
  display: inline-block;

  &:hover {
    color: #fff;
  }
}