
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  font-size: 26px;
}

.tcenter {
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
}

table {
  margin: auto;
}

ul {
  list-style-type: square;
  font-size: 18px;
  padding-left: 0;
  list-style-position: inside;
}

td {
  text-align: left;
  padding-right: 20px;
  padding-bottom: 20px;
  vertical-align: top;
}

input {
  font-size: 25px;
  padding: 0 10px;
  width: 50px;
  border: 1px solid #000;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  font-size: 22px;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #ccc;
  outline: none;
  cursor: pointer;
  min-width: 140px;

  &:active {
    box-shadow: inset 1px 1px 5px #ccc;
    background: #000;
  }
}

.red {
  color: red;
}

.green {
  color: green;
}

@import url(./operators.scss);
