ul.operators {
  @include flex-container(row, center, center);
  font-family: 'chalkfreehand';
  display: flex;
  align-items: stretch;
  justify-content: center;
  list-style-type: none;
  padding: 0;

  li {
    @include flex-container(row, center, center);
    text-align: center;
    width: 25%;
    padding: 5%;
    box-sizing: border-box;
    cursor: pointer;

    &.active {
      background: url(/imgs/dash-line.png) center center no-repeat;
      background-size: contain;
    }
  }

  img {
    max-width: 100%;
    height: auto;

    &:active {
      transform: scale(.8);
    }
  }
}

.current-example {
  @include flex-container(row, center, center);
  font-family: 'chalkfreehand';
  font-size: 12vmin;
  color: white;
  text-align: center;

  span {
    line-height: 75px;
    height: 90px;
  }

  img {
    margin: 0 3vmin;
    display: block;
    max-width: 4vmin;
    height: auto;
  }

  input {
    color: white;
    background: none;
    appearance: none;
    font-family: 'chalkfreehand';
    font-size: 12vmin;
    border: 0;
    width: 15vmin;
    outline: none;
    border-bottom: 5px solid #fff;
    text-align: center;
    height: 10vmin;
  }
}

.check-btn-wrapper {
  text-align: center;
}

.check-btn {
  font-size: 6vmin;
  letter-spacing: -1.4px;
  margin-top: 30px;
  color: #00a8ff;
  background: none;
  padding: 2vmin 3vmin;
  border: solid 4px #fefefe;
  border-radius: 20px;
  font-family: 'lumberjack', sans-serif;
  line-height: 1;
  cursor: pointer;

  &:disabled {
    opacity: .3;
    cursor: not-allowed;
  }

  &:active {
    transform: scale(.9);
  }
}

.answers-list {
  @include flex-container(row, center, center);
  list-style-type: none;
  position: absolute;
  left: 4vmin;
  bottom: 8vmin;

  li {
    margin-right: 12px;
  }

  img {
    display: block;
    max-width: 2vmin;
  }
}