$main-pink:        #FF1181;
$main-violet:      #786DFF;
$additional-yellow:#FFC462;
$additional-coral: #FA5B5F;
$additional-blue:  #177BF4;
$gray-strong:      #161D28;
$gray-dark:        #646F79;
$gray-basic:       #AAB0B5;
$gray-soft:        #E2E2E7;
$border:           #E2E3E7;
$gray-light:       #F2F2F4;
$gray-bright:      #FAFAFB;
$white:            #fff;
